/* over all page style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 25px;
    text-align: justify;
    padding-top: 50px;
}

/* header style */
header {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

.header {
    display: inline-block;
    width: 50%;
}

#nav-menu {
    float: right;
    margin-top: 10px;
    text-align: center;
}

#nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
  
#nav-menu a:hover {
    color: red;
}

#menu li {
    display: inline;
    padding: 6vh;
    line-height: 40px;
}

/* main style */
.main-block {
    display: inline-block;
    width: 50%;
    height: 100vh;
}
  
#left-block {
    float: left;
    background-color: gray;
}
  
#right-block {
    background-color: aquamarine;
    float: right;
}

/* image block */
#image-text {
    top: 800px;
    width: 400px;
    height: 300px;
    margin-left: 50px;
    position: relative;
}

/* text block */
#home-text, #info-text, #form-text {
    top: 200px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

/* info page 2 */

/* fun facts page 2 */

/* form page 3 */

/* contact information */

/* footer style */

footer {
    bottom: 0;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    position: fixed;
}

.footer {
    display: inline-block;
    width: 50%;
    height: 40px;
}
  
#contact-links {
    float: right;
    text-align: center;
}

#contact-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
  
#contact-links a:hover {
    color: red;
}

#links > li {
    display: inline;
    padding: 6vh;
}